---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Features from '../components/Features.astro';
import Testimonials from '../components/Testimonials.astro';
import Newsletter from '../components/Newsletter.astro';
import Footer from '../components/Footer.astro';
import ShowCase from '../components/ShowCase.astro';
---

<Layout title="Mi Rinconcito - Handcrafted resources to support early literacy">
  <Header />
  <main>
    <Hero />
    <Features />
    <ShowCase />
    <!-- no testimonials -->
    <!-- <Testimonials /> -->
    <Newsletter />
  </main>
  <Footer />
</Layout>
