---
import ContactForm from "../React/ContactForm";

import type { LanguageList } from "../i18n/ui";
import { useTranslations } from "../i18n/utils";



const currentLang = Astro.currentLocale || "en";

const translateLabels = useTranslations(
  currentLang as keyof typeof LanguageList
);

---

<section id="contact" class="section bg-gray-50 dark:bg-gray-800/50">
  <div class="container-custom">
    <div class="grid md:grid-cols-2 gap-12">
      <div class="slide-up">
        <span
          class="inline-block px-4 py-1 rounded-full bg-secondary-100 dark:bg-secondary-900 text-secondary-600 dark:text-secondary-300 font-medium text-sm mb-4"
        >
          {translateLabels("contactTitle")}
        </span>
        <h2 class="mb-6 text-gray-900 dark:text-white">
          {translateLabels("contactsubtitle")}
        </h2>
        <p class="text-gray-600 dark:text-gray-300 mb-8">
          {translateLabels("contactDescription")}
        </p>
      </div>

      <div class="slide-up" style="animation-delay: 150ms">
        <div class="card p-6 border border-gray-200 dark:border-gray-700">
          <h3 class="text-xl font-semibold mb-6 text-gray-900 dark:text-white">
            {translateLabels("contactSend")}
          </h3>

        <ContactForm  client:load lang={currentLang} />
        </div>
      </div>
    </div>
  </div>
</section>
